/*
 * Adam Crawford
 * MIU 1212
 * Week 1 
 * 11/17/2012
*/
#add { 
	background: url(../img/field.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    width: auto;
}
#feature { 
	position: relative;
	height: 216px;
	color: goldenrod;
	text-shadow: 1px 1px navy;
}
#featfront {
	position: absolute;
	z-index: 2;
}
#featback {
		position: absolute;
	 	height: 216px;
	 	z-index: 1;
	 	opacity: 0.85;
}
#add body {
    font-family: "Arial New", Arial, sans-serif;
    color: #002230;
}
#addBtn {
	background: maroon;
	color: goldenrod;
	text-shadow: 1px 1px black;
	float: right;
	margin-top: -5px;
}
form ul {
    list-style: none;
}
form input, select {
	display: block;
}
form input[type=checkbox] {
	display: inline;
}
form textarea {
	display: block;
}
#boys, #girls {
	display: inline;
}
.required {
    outline: red solid 2px;
}
fieldset {
    border: hidden;
    padding: 0px;
}
legend {
    font-weight: bold;
}
#data > ul > li {
	margin-bottom: 25px;
	list-style: none;
}
#errors {
	background: red;
	color: white;
}
.ui-input-search {
    display: inline-block;
}
.noListStyle {
	list-style: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.slider {
	display: inline;
}
a:link {color: #034661;}
a:visited {color: #911514;}